html{
    font-size: 14px;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'FiraSans', Arial, Helvetica, sans-serif;
    color: #727272;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
  }

  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: normal;
  }
  
  
  p {
    padding: 0;
    margin: 0;
  }
  
  a{
    text-decoration: none;
  }

  .wrapper {
    display: flex;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
  }


.header{
    display: flex;
    width: 100%;
    flex: 0 0 auto;
    background-color: #8cc34b;
    padding: 14px 30px 16px;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    justify-content: space-between;
}

.header__left{
    display: flex;
    align-items: center;
}

.logo{
    width: 60px;
    display: block;
    border-radius: 50%;
    border: solid #ffffff 2px;
    overflow: hidden;
}

.logo__img{
    max-width: 100%;
}

.describe{
    font-family: 'FiraSans', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #ffffff;
    margin-left: 20px;
}

.describe__name{
    font-size: 21px;
    padding-bottom: 7px;
}

.describe__email{
    font-family: 'FiraSans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.social__list{
    display: flex;
}

.social__item{
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
}
.social__link{
    display: block;
    width: 30px;
    height: 30px;
}

.social__img{
    max-width: 100%;
    max-height: 100%;
    fill: #e1eed4;

    &:hover{
        fill: #ffffff;
    }
}

.content{
    height: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 100%;

}

.about__icon{
    width:140px;
    height: 140px;
    margin-right: 21px;
}

.about__img{
    max-width: 100%;
    max-height: 100%;
}


.footer{
    flex: 0 0 auto;
    width: 100%;
    background: #212121;
    padding: 19px 0 17px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__describe{
        font-family: 'FiraSans', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #ffffff;
        width: 33%;
        margin: 0 auto;
        text-align: center;
    }
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__title{
        font-family: 'FiraSans', Arial, Helvetica, sans-serif;
        color: #212121;
        font-weight: 400;
        font-size: 21px;
    }

    &__list{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }

    &__item{
        display: flex;
        margin-right: 40px;
    }

    &__content{
        width: 50%;
    }

    &__text{
        margin-top: 20px;
        text-align: left;
        font-weight: 300;
        font-size: 14px;
    }

    &__link{
        color: #29b0f5;

        &:hover{
            color: #29b0f5;
        }
    }
}

.container{
    width: 940px;
}

.title{
    font-family: 'FiraSans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 76px;

    &__main{
        font-weight: 500;
        font-style: normal;
        font-size: 42px;
        color: #212121;
    }
    &__desc{
        font-weight: 300;
        font-style: normal;
        font-size: 21px;
        color: #727272;
    }
    
}

.courses{
    background: url('./images/gplaypattern.png') center center repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    &__container{
        margin-bottom: 60px;
    }

    &__list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }

    &__item{
        width: 30%;
        transition-delay: 2s;
       transition-property: opacity;
        margin-right: 20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        height: 100%;

        &:last-child{
            margin-right: 0;
        }

        &:hover  {
             .courses__icon{
                border-bottom: 4px solid #8cc34b;
            }
             .courses__title{
                color: #8cc34b;
            }
           
        }
        
        &--checked{
           opacity: 0;
        }
    }
    &__icon{
        width: 100%; 
        max-height: 162px;
        overflow: hidden;
    }
    &__img{
        max-width: 100%;
    }

    &__title{
        font-family: 'FiraSans', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        color:#212121;
        margin-bottom: 6px;
        text-align: left;
    }

    &__text{
        font-family: 'FiraSans', Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 14px;
        color: #727272;
        margin-bottom: 10px;
        text-align: left;
    }

    &__time{
        font-family: 'FiraSans', Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 14px;
        color: #b6b6b6;
        margin-bottom: 20px;
    }

    &__desc{
        background-color: #ffffff;
        box-shadow: 0 0 7px rgba(0,0,0,0.2);

    }

    &__checkbox{
        width: 100%;
        background: #f6f7f2;
        
        .courses__desc--checked &{
            background: #e8f1dc;
        }
    }
}

.checkbox__title{
    font-family: 'FiraSans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

.checkbox_hidden{
    display: none;

    &:checked {
        + .checkbox_fake:before{
            content: "";
            position: absolute;
            display: block;
            background: #8cc34b;
            top: -2px;
            left: -2px;
            width: 18px;
            height: 18px;
            border-radius: 10%;
        }
        ~ .checkbox__title{
            color:#8cc34b;
        }

    }

}
.checkbox__other .checkbox_fake:after {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 0px;
    width: 6px;
    height: 11px;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
.checkbox_fake{
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    position: relative;
    border: 2px solid #b6b6b6;
    border-radius: 10%;
    margin-right: 15px;
}

.checkbox__other{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}



.courses_hover{
    transition-delay: 1s;
    opacity: 0;
    height: 0;
    width: 0;
    top: 0;
    position: absolute;
    transition-property: height;
    transition-duration: 1s;
    overflow: hidden;
    transition-timing-function: ease-in-out;

    &--checked{
        position: absolute;
        z-index:5;
        width: 100%;
        overflow: hidden;
        background-color: #ffffff;
        height: 100%;
        opacity: 0.7;
        display: block;
 
    }
}

.courses__completed{
    font-family: 'FiraSans', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 42px;
    width: 100%;
    height: 100%;
    color: #8cc34b;
    z-index: 6;
    display: none;
    justify-content: center;
    align-items: center;
}
.courses__desc--checked{
    background-color: #ecf4e2;

}

.desc__container{
         padding: 15px 20px 8px; 
}

.wrapped__title{
    margin-left: 17px;
}